@media only screen and (max-width:688px) {

    .banner-head {
        margin-top: .2em;
    }

    .baner {
        flex-direction: column;
    }

    .baner-text {
        width: 100%;
        padding: 3em 2em 1em;
        justify-items: center;
        grid-row-gap: 6em;

    }

    .baner-text h1 {
        font-size: 2em;
        color: #fff;
        position: relative;
        text-align: center;
    }

    .baner-text h1::after {
        content: "Contrary to populer belief. is not simply rendom text";
        position: absolute;
        text-align: center;
        left: 1em;
        right: 1em;
        bottom: -4em;
        font-size: .5em;
        font-weight: 100;
    }

    .baner-text p {
        display: none;
    }

    .banner-img {
        display: grid;
        justify-items: center;
    }

    .banner-img img {
        width: 20em;
    }

    /* blog and others */
    .blog-and-other {
        width: 100vw;
    }

    .side-nave-and-blog-box {
        grid-template-columns: 1fr;
    }

    .side-nave {
        background: #ffffff;
    }

    .inpt {
        box-shadow: 2px 2px 10px #e8e8e8b0;
        border: 0.5px solid #afabab;
    }

    .blog {
        grid-template-columns: repeat(1, 1fr);
    }

    footer {
        width: 100vw;

    }

    .ft-boxes {
        flex-direction: column;
    }
}